@model VM_Request_CompanyRegister

@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<link href="~/lib/fullcalendar-5.11.3/lib/main.css" rel="stylesheet" />
<link href="~/lib/fullcalendar-5.11.3/lib/main.min.css" rel="stylesheet" />

<div id='calendar'></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="~/lib/fullcalendar-5.11.3/lib/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialDate: new Date(), // Şu anki yılı göster
            navLinks: true, // Gün/hafta adlarına tıklanabilir
            selectable: true,
            editable: true,
            dayMaxEvents: true, // Çok sayıda etkinlik olduğunda "daha fazla" bağlantısı göster
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: '/CompanyAccount/GetMeetings', // Veritabanından toplantıları çekeceğiniz controller ve action
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        var events = response.map(function (meeting) {
                            return {
                                id: meeting.id,
                                title: meeting.title + " (" + meeting.cvNameSurname + ")", 
                                cvNameSurname: meeting.cvNameSurname,
                                start: meeting.start,
                                allDay: meeting.allDay
                            };
                        });
                        successCallback(events);
                    }
                });
            }
        });
        calendar.render();
    });
</script>
