@model VM_Request_CompanyRegister
@{
    ViewData["Title"] = "Calender";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}


    <div class="row">
        <div class="col">
            <div class="au-card">
                <div id="calendar"></div>
            </div>
        </div><!-- .col -->
    </div>
   


