
@{
    var firstName = ViewData["FirstName"];
    var lastName = ViewData["LastName"];
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Online CV HUB</title>

    <!-- Favicon -->
  

    <!-- Core Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Responsive Stylesheet -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body class="light-version">
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <div class="classy-nav-container dark breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/MyAccount/Index">Online CV Hub</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/MyAccount/Index">Anasayfa</a></li>
                               @* <li><a href="about-us.html">Hakkımızda</a></li>*@
                               @* <li><a href="pricing.html">Pricing</a></li>*@
                              
                            

                            <!-- Button -->
                            <li>
                           
                        @*    @Model.FirstName
                            @Model.LastName*@
                           @firstName
                           @lastName

                                    </a>
                                </li>
                                <li><a href="/MyAccount/CvEdit">CV Oluştur</a></li>
                                <li>
                                    <form asp-controller="Register" asp-action="Logout" method="post">
                                        <button type="submit" class="btn btn-link">
                                            Çıkış
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div>
        @RenderBody() <!-- This line specifies where the content of your pages will be rendered -->
    </div>

    <footer class="footer-area bg-img">

        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="~/img/core-img/logo.png" alt="logo">Online CV HUB </a>
                                </div>
                            </div>
                        </div>
                    </div>

                 
                 
                </div>
            </div>

        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/particles.js"></script>
    <script src="~/js/app.js"></script>
    <!-- Parallax js -->
    <script src="~/js/dzsparallaxer.js"></script>

    <script src="~/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

</body>

</html>

