@using App.Common.Entities.DataModels;
@model tblUser
@{
    ViewData["Title"] = "CvEdit";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Multipurpose Template</title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/CV1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
</head>

<body class="ali-bg">
    <!-- Preloader -->
   
    <!-- ##### Blog Area Start ##### -->
    <section class="blog-area">
        <div class="container-fluid" style="display:flex; margin-top:-30px;">
            <div class="cvPdf">
            <div class="row" style="flex:1; margin-top:-19px;">
                <div id="drag" class="cv instaFade wrap scrollable">
                    <div class="mainDetails">
                        <div id="headshot" class="">
                            <img src="https://avatars2.githubusercontent.com/u/24512843?s=400&v=4" title="Hi, I'm Jenny!" alt="Jennifer Mogan" />
                        </div>

                        <div id="name">
                            <h1 class="quickFade delayTwo" id="nameCV">Jennifer Mogan</h1>
                            <h4 class="quickFade delayThree" id="jobTitle">Nurse</h4>
                            <h6 class="quickFade delayThree" id="email">jennifermogan@gmail.com</h6>
                            <h6 class="quickFade delayThree" id="phone">05123456789</h6>
                            <h6 class="quickFade delayThree" id="webSite"></h6>
                            <h6 class="quickFade delayThree" id="adress"></h6>

                        </div>

                        <div id="contactDetails" class="quickFade delayFour">
                            <ul>

                                <!-- <li><a href="//linkedin.com/in/jennifermogan" title="LinkedIn"><i class="fa fa-print" aria-hidden="true"></i></a></li>-->
                                <li><a href="//linkedin.com/in/jennifermogan" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>

                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div id="mainArea" class="quickFade delayFive">

                        <section>
                            <article>
                                <div class="sectionTitle">
                                    <h1>Profil</h1>
                                </div>

                                <div class="sectionContent" id="comments">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat
                                        luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.
                                    </p>
                                </div>
                            </article>
                            <div class="clear"></div>
                        </section>


                        <section>
                            <div class="sectionTitle">
                                <h1>Deneyimler</h1>
                            </div>

                            <div class="sectionContent">
                               
                                    <article>
                                    <h3 id="unvan">Registered Nurse | ICU</h3>
                                    <h3 id="sirket">UP Health System - Marquette</h3>
                                    <p class="subDetails" id="isBaslamaYili">Feb. 2017</p><p class="subDetails" id="isBitisYili">Feb. 2017</p>
                                    <p id="isAciklama">Operating Room | Surgical | Neuro/Ortho |  Medical/Oncology | Substance Abuse | Emergency Department | Family Birthing Unit/NICU |  Psychiatric | Home Health and Hospice | IMCU</p>
                                </article> 
                                
                               
                             </div>
                            <div class="clear"></div>
                        </section>


                        <section>
                            <div class="sectionTitle">
                                <h1>Yetenekler</h1>
                            </div>

                            <div class="sectionContent">
                                <ul class="keySkills">
                                    <li id="yetenek">A Key Skill</li>
                                    <span>-</span>
                                    <li id="yeterlilik">Orta</li>
                                    
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </section>


                        <section id="Education">
                            <div class="sectionTitle">
                                <h1>Eğitim</h1>
                            </div>

                            <div class="sectionContent">
                                <article>
                                    <h2 id="bolum">Bachelor’s of Science, Nursing</h2>
                                    <p class="subDetails" id="okul" name="edu[]">Northern Michigan University</p>
                                    <p class="subDetails" id="derece">Lisans</p>
                                </article>                               
                            </div>
                            <div class="clear"></div>
                        </section>
                        <section>
                            <div class="sectionTitle">
                                <h1>İlgi Alanları</h1>
                            </div>

                            <div class="sectionContent">
                                <ul class="">
                                    <li id="hobi">Kitap Okuma</li>
                                   

                                </ul>
                            </div>
                            <div class="clear"></div>
                        </section>
                    </div>
                </div>

                </div>

            </div>
                <div class="col-12 col-md-7 " style="flex:1;">
                    <div class="cv-download">
                        <div class="row align-items-center">
                            
                            <div class="col-lg-6 col-md-12">
                                <p class="topnote">Fill all required fields and click create cv to download CV in both PDF and PNG formats</p>
                                
                            </div>
                            <div class="col-lg-6 col-md-12 mt-s download">
                                <button class="btn btn-primary">PDF İndir</button>
                               @* <a href="#" class="btn btn-soft-primary ms-2">Download as PNG</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="container  scrollable">

                        <form method="post" action="#">
                            <div class="mt-150">
                                <h2>Kişisel Bilgiler</h2>
                                <div class="block-container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2 col-md-4">
                                            <img src="~/img/test-img/1.jpg" class="d-block" alt="">
                                        </div>
                                        <div class="col-lg-5 col-md-8 mt-s">
                                            <h6 class="">Fotoğraf Yükle</h6>
                                            @*<p class="text-muted mb-0">For best results, use image 300px by 300px in either .jpg or .png</p>*@
                                        </div>
                                        <div class="col-lg-5 col-md-12 mt-s">
                                            <a href="#" class="btn btn-primary">Seç</a>
                                            <a href="#" class="btn btn-soft-primary ms-2">Sil</a>
                                        </div>
                                    </div>
                                    <div class="mt-30">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Ad-Soyad:</label>
                                                <input type="text" id="nameInput" onkeyup="updateCV('nameCV', this.value)" class="form-control" placeholder="İsim soyisim gir">
                                            </div>
                                            
                                            <div class="col-lg-6">
                                                <label>İş Unvanı:</label>
                                                <input type="text" name="job-title" id="jobTitleInput" onkeyup="updateCV('jobTitle', this.value)" class="form-control" placeholder="Örnek: Web Developer">
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Adres:</label>
                                                <input type="text" name="address" id="adressInput" onkeyup="updateCV('adress', this.value)" class="form-control" placeholder="Adresinizi girin">
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Email:</label>
                                                <input type="text" name="email" id="emailInput" onkeyup="updateCV('email', this.value)" class="form-control" placeholder="Mail adresini girin">
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Website Link:</label>
                                                <input type="text" name="web-link" id="webSiteLinkInput" onkeyup="updateCV('webSite', this.value)"class="form-control" placeholder="Web site linkinizi ekleyin">
                                            </div>
                                            
                                            <div class="col-lg-6">
                                                <label>Telefon:</label>
                                                <input type="text" name="phone" id="phoneInput" onkeyup="updateCV('phone', this.value)" class="form-control" placeholder="Telefon Numaranızı Girin">
                                            </div>
                                            <div class="col-lg-12">
                                                <label>Hakkınızda</label>
                                                <textarea name="comments" id="comments" rows="4" onkeyup="updateCV('comments', this.value)" class="form-control" placeholder=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group add-edu">
                                <h2>Eğitim</h2>
                                <div class="all-edus">
                                    <div class="new-edu">
                                        <label>Bölüm:</label>
                                    <input type="text" name="bolumInput[]" id="bolumInput" onkeyup="updateCV('bolum', this.value)" class="form-control" placeholder="Örnek:Bilgisayar Mühendisliği">
                                        <label>Derece:</label>
                                    <input type="text" name="dereceInput[]" id="dereceInput" onkeyup="updateCV('derece', this.value)" class="form-control" placeholder="Derece: Lisans">
                                        <label>Okul:</label>
                                    <input type="text" name="okulInput[]" id="okulInput" onkeyup="updateCV('okul', this.value)" class="form-control" placeholder="">
                                        <div class="form-row">
                                            <div class="col">
                                                <label>Başlangıç Yılı:</label>
                                            <input type="month" name="edu[]" id="baslamaYiliInput" onkeyup="updateCV('baslamaYili', this.value)" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label>Bitiş Yılı:</label>
                                            <input type="month" name="edu[]" id="bitisYiliInput" onkeyup="updateCV('bitisYili', this.value)" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-blk btn btn-info" id="add-edu"> 
                                    <i class="fa fa-plus"></i>
                                    <span>Eğitim Ekle</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group add-exp mt-s">
                                <h2>Deneyimler</h2>
                                <div class="all-exps">
                                    <div class="new-exp">
                                        <label>Unvan:</label>
                                    <input type="text" id="unvanInput" name="exp[]" onkeyup=" updateCV('unvan', this.value)" class="form-control" placeholder="Örnek: Web Developer">
                                        <label>Şirket:</label>
                                    <input type="text" id="sirketInput" name="exp[]" onkeyup="updateCV('sirket', this.value)" class="form-control" placeholder="örnek: ProgressSoft">
                                        <div class="form-row">
                                            <div class="col">
                                                <label>Başlama Yılı:</label>
                                            <input type="month" id="isBaslamaYiliInput" onkeyup="updateCV('isBaslamaYili', this.value)" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label>Bitiş Yılı:</label>
                                            <input type="month" id="isBitisYiliInput" onkeyup="updateCV('isBitisYili', this.value)" class="form-control">
                                            </div>
                                        </div>
                                        <label>Açıklama (İsteğe Bağlı):</label>
                                        <textarea id="isAciklamaInput" onkeyup="updateCV('isAciklama', this.value)" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="add-blk btn btn-info" id="add-exp">
                                    <i class="fa fa-plus"></i>
                                    <span>Farklı Deneyim Ekle</span>
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>
                            
                            <div class="form-group add-skill mt-s">
                                <h2>Beceri/Yetenek Ekle</h2>
                                <div class="block-container">
                                    <div class="all-skills">
                                        <div class="new-skills">
                                            <label>Yetenek</label>
                                        <input type="text" id="yetenekInput" onkeyup="updateCV('yetenek', this.value)" class="form-control">
                                            <label>Yeterlilik</label>
                                        <input type="text" id="yeterlilikInput" onkeyup="updateCV('yeterlilik', this.value)" class="form-control">
                                        </div>
                                    </div>
                                

                                    <div class="add-blk add-skills btn btn-info mt-50">
                                        <i class="fa fa-plus"></i>
                                        <span>Başka Beceri Ekle</span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                          @*  <div class="form-group add-social mt-s">
                                <h2>Add social Links</h2>
                                <div class="block-container">
                                    <div class="all-socials">
                                        <div class="new-skills">
                                            <label>Sos Name</label>
                                            <input type="text" name="socials[]" class="form-control">
                                            <label>Social Link</label>
                                            <input type="text" name="socials[]" class="form-control">
                                            <label>Social icon image (16px*16px)</label>
                                            <input type="file" name="socials[]" class="form-control" />
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="add-blk add-socials btn btn-info mt-50">
                                        <i class="fa fa-plus"></i>
                                        <span>Add another social</span>
                                    </div>
                                </div>
                            </div>*@

                            <div class="clearfix"></div>

                            <div class="form-group add-social mt-s">
                                <h2>İlgi Alanları</h2>
                                <div class="block-container">
                                    <div class="all-hoppies">
                                        <div class="new-skills">
                                        <input type="text" id="hobiInput" name="" onkeyup="updateCV('hobi', this.value)" class="form-control">
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="add-blk add-hoppies btn btn-info mt-50">
                                        <i class="fa fa-plus"></i>
                                        <span>İlgi Alanı Ekle</span>
                                    </div>
                                </div>
                            </div>

                            <hr class="mt-100">
                            <input type="submit" name="submit" value="CV Oluştur" class="btn-sub">
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->


    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Parallax js -->
    <script src="~/js/dzsparallaxer.js"></script>
    <!-- Active js -->
    <script src="~/js/form-script.js"></script>
    <script src="~/js/script.js"></script>
    <script type="text/javascript">
        let div = document.querySelector(".cvPdf");
        let btn = document.querySelector(".download");
        btn.addEventListener('click', () => {
            html2pdf().from(div).save()
        })
    </script>
    <script>
       
    
        const cvElements = {
            nameCV: 'nameCV',
            jobTitle: 'jobTitle',
            webSite: 'webSite',
            phone: 'phone',
            comments: 'comments',
            email: 'email',
            adress:'adress',
            unvan:'unvan',
            sirket:'sirket',
            isBaslamaYili:'isBaslamaYili',
            isBitisYili:'isBitisYili',
            isAciklama:'isAciklama',
            yetenek:'yetenek',
            yeterlilik:'yeterlilik',
            bolum:'bolum',
            okul:'okul',
            derece:'derece',
            hobi:'hobi',
        };

        function updateCV(elementId, value) {
            const targetElement = cvElements[elementId];
            if (targetElement) {
                document.getElementById(targetElement).innerText = value;
            }
            else {
                console.log('Element ID not recognized');
            }
        }
        let hobbies = [];

        // Ekranda ilgi alanlarını gösteren işlev
        function displayHobbies() {
            const hobiElement = document.getElementById(cvElements.hobi);
            hobiElement.innerHTML = hobbies.map(hobi => `<li>${hobi}</li>`).join('');
        }

        // Her ilgi alanı girişi yapıldığında bu olay tetiklenecek
        $('.add-hoppies').on('click', function () {
            const newHobby = $('.form-control').last().val();
            if (newHobby.trim() !== '') {
                hobbies.push(newHobby); // Yeni ilgi alanını diziye ekle
                displayHobbies(); // Güncel ilgi alanlarını ekrana yazdır
              
            }
        });
       
        
    </script>
</body>

</html>


