
@{
    ViewData["Title"] = "Cvs";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";

    var firstName = ViewData["FirstName"];
    var lastName = ViewData["LastName"];
}




 


    <section class="demo section-padding-100-0">
        <div class="container">
            <div class="section-heading text-center">
                <div class="dream-dots justify-content-center">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <h2 class="bold">CV'lerinizi Görüntüleyin veya Düzenleyin</h2>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="demo-item">
                        <a href="template-preview.html"><img src="img/demos/demo-1.png" alt="demo" class="img-responsive"></a>
                        <div class="preview-btn-wrapper text-center">
                            <a href="template-preview.html" class="preview-demo">See template <i class="fa fa-long-arrow-right"></i></a>
                            <a href="template-edit.html" class="preview-demo v2">Use template <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

               


            </div>
        </div>
    </section>

 





