
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şablon Seç</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Online CV HUB</title>
<style>
    

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333333;
    padding-top: 20%;
    text-align: center;
}

h1 {
    font-family: "Nunito";
    font-size: 40px;
    font-weight: 100;
    color: #f1f1f1;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    color: #fff;
    font-family: "Nunito";
    font-size: 25px;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 3px;
    border-bottom: 3px solid rgba(0, 0, 0, .25);
    text-shadow: 0 -2px rgba(0, 0, 0, .15);
    position: relative;
    display: inline-block;
    user-select: none;
    transition: .3s linear;
}

.btn         { background-color: #a8a8a8; } /* varsayılan buton rengi */
.btn-success { background-color: #2bcf5d; }
.btn-primary { background-color: #2c9ae4; }
.btn-warning { background-color: #bfd830; }
.btn-danger  { background-color: #e4482c; }

.btn:hover,
.btn-success:hover,
.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover {
    filter: sepia(25%);
}

.btn:active,
.btn-success:active,
.btn-primary:active,
.btn-warning:active,
.btn-danger:active {
    filter: saturate(140%);
}

.btn-anim:active {
    transform: translate(0, 3px);
    transition: .3s linear;
}
</style>

    <!-- Favicon -->
    <!-- Core Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Responsive Stylesheet -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <form>
    <section class="demo section-padding-100 ring-bg">
    <div class="container">
    <div class="section-heading text-center">
    <div class="dream-dots justify-content-center">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
    <h2 class="bold">Yaratıcı Şablonlarımız</h2>
    <p>Bir şablon seçin ve potansiyel işverenleri etkilemek ve kalabalığın arasından sıyrılmak için belgenizi hızla özelleştirin.</p>
    </div>
                <div class="row" >
    <div class="col-lg-4 col-md-6 col-sm-12" >
                        <div class="demo-item" style="height:87.5vh;">

                            <div>
                                <img src="~/img/template1img.png" />
                            </div>
                            <div class="preview-btn-wrapper text-center" tyle="padding-top: 24px;">
  @*  <a href="template-preview.html" class="preview-demo">Şablonu İncele</a>*@
                                <a href="@Url.Action("Template1", "MyAccount", new { cvId = ViewBag.cvId })" class="btn btn-primary btn-anim">Şablonu Kullan </a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="demo-item" >
                            <div style ="height: 80vh;">
                                <img style="height: 80vh;" src="~/img/cv2 - Copy (2).png" /> 
                            </div>
    <div class="preview-btn-wrapper text-center">
   @* <a href="template-preview.html" class="preview-demo">Şablonu İncele </a>*@
                                <a href="@Url.Action("Template2", "MyAccount", new { cvId = ViewBag.cvId })" class="btn btn-primary btn-anim">Şablonu Kullan </a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="demo-item">
                            <div style="height: 80vh;">
                                <img style="height: 80vh;" src="~/img/CV3 - Copy (2).png" />
                            </div>
    <div class="preview-btn-wrapper text-center">
 @*   <a href="template-preview.html" class="preview-demo">Şablonu İncele </a>*@
                                <a href="@Url.Action("Template3", "MyAccount", new { cvId = ViewBag.cvId })" class="btn btn-primary btn-anim">Şablonu Kullan </a>
    </div>
    </div>
    </div>
    </div>
    </div>
        </section>
    </form>
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/particles.js"></script>
    <script src="~/js/app.js"></script>
    <!-- Parallax js -->
    <script src="~/js/dzsparallaxer.js"></script>

    <script src="~/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>
</body>
</html>
