
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Template1</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="~/css/Template1.css" rel="stylesheet" />
</head>
<body>


    <div class="container">
        <div class="header">
            <div class="full-name">
                <span class="first-name">Gamze Bozkuş</span>

            </div>
            <div class="contact-info">
                <span class="email">Email: </span>
                <span class="email-val">1gamzebozkus@gmail.com</span>
                <span class="separator"></span>
                <span class="phone">Adres: </span>
                <span class="phone-val">İstanbul/Ataşehir</span>
            </div>

            <div class="about">
                <span class="position">Web Developer </span>
                <span class="desc">
                  
                </span>
            </div>
        </div>
        <div class="details">
            <div class="section">
                <div class="section__title">Deneyim</div>
                <div class="section__list">
                      <div class="section__list-item">
                            <div class="left">
                                <div class="name">.Net Intern</div>
                                <div class="addr">Appcent</div>
                                <div class="addr">.Net alanında gerekli olan mimariler ve microservis kullanımları üzerine işlemler yaptım.</div>
                                <div class="duration">
                                   08/2023-09/2023
                                </div>
                            </div>

                        </div>
                



                </div>
            </div>
            <div class="section">
                <div class="section__title">Eğitim Bilgisi</div>
                <div class="section__list">
                  
                        <div class="section__list-item">
                            <div class="left">
                                <div class="name">Bilecik Şey Edebali</div>
                                <div class="addr">
                                Bilecik Şey Edebali Üniversitesi - Lisans
                                    <br>
                                   12/2020-06/2024
                                </div>

                            </div>

                        </div>
                    

                </div>

            </div>

            <div class="section">
                <div class="section__title">Beceri/Yetenek</div>
                <div class="skills">
                  
                        <div class="skills__item">
                            <div class="left">
                                <div class="name">
                                   C#,Java,Javascript,Html,Css,Asp.net
                                </div>
                            </div>

                        </div>
                    

                </div>


            </div>
            <div class="section">
                <div class="section__title">Hobi</div>
                <div class="section__list">
                    
                        <div class="section__list-item">
                            <div class="name">Film izlemek</div>
                        </div>
                    

                </div>
            </div>

        </div>
    </div>


   
</body>
</html>